@media all and (min-width: 480px) {
   .contentHeading {
     font-family: helvetica;
     color: #00b3b3;
     letter-spacing: 3px;

   }

   .contentText {
     font-family: helvetica;
     color: #696969;
   }

   .formInputControl {
     width: 100%;
     border-radius: 5px;
     border-style: solid;
     border: 1px solid #7e7e7e;
     height: 25px;
   }

   .inputLabel {
     color: #696969;
     letter-spacing: 2px;
   }

   .formButton {
     font-size: 14px;
     font-family: helvetica;
     letter-spacing: 5px;
     text-transform: uppercase;
     margin: 3% 0;
     padding: 1% 0;
     width: 100%;
     height: 30px;
     border-radius: 15px;
     color: #00b3b3;
     border: 0.5px solid #00b3b3;
     transition: 0.3s;
   }

   .formControl {
     letter-spacing: 5px;
   }

   .formButton:hover {
     background-color: #00b3b3;
     color: #fff;
   }
}
